<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7_xv_HkdXMpCtHjz_mR0hrtK4ivvV8_U</string>
	<key>GCM_SENDER_ID</key>
	<string>655555386479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>class.Gyundle</string>
	<key>PROJECT_ID</key>
	<string>gyundle</string>
	<key>STORAGE_BUCKET</key>
	<string>gyundle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655555386479:ios:38590ab561f3af13c4819a</string>
</dict>
</plist>